/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
@import '../node_modules/sanitize.css/sanitize.css';
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fontt-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
  color: var(--oasis-body-text-color, #64748b);
  font-size: var(--oasis-font-size-base, 1rem);
  line-height: var(--oasis-line-height-base, 1.5);
  font-weight: var(--oasis-font-weigth-base, 400);
  background-color: var(--oasis-body-bg-color, #f1f5f9);
  font-family: var(--oasis-font-primary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}
body body::-webkit-scrollbar {
  width: 10px;
  height: 16px;
}
body body::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.805);
  border-radius: 10px;
}
body body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(169, 169, 169, 0.668);
}
body img {
  display: block;
  max-width: 100%;
}
body header {
  color: var(--oasis-body-bg-color, #f1f5f9);
}
body #footerhystory {
  bottom: 0;
  top: 400vh;
}

:root[data-theme=dark] {
  color-scheme: dark;
  --oasis-body-bg-color: #0f172a;
  --oasis-body-text-color: #FFFFFF;
  --oasis-heading-text-color: #FFFFFF;
}
:root[data-theme=dark] #navbar_oasis {
  background-color: #0f172a !important;
  color: #FFFFFF !important;
}
:root[data-theme=dark] #navbar_oasis .navbar-toggler {
  background-color: #FFFFFF !important;
}
:root[data-theme=dark] #navbar_oasis li a {
  color: #FFFFFF !important;
}
:root[data-theme=dark] .embed-iframe-items::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
  border-radius: 10px;
}
:root[data-theme=dark] a {
  color: #FFFFFF !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--oasis-heading-text-color, #334155);
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--oasis-font-secondary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}
h1-first-child,
h2-first-child,
h3-first-child,
h4-first-child,
h5-first-child,
h6-first-child {
  margin-top: 0;
}
h1-last-child,
h2-last-child,
h3-last-child,
h4-last-child,
h5-last-child,
h6-last-child {
  margin-bottom: 0;
}

h1 {
  margin: 32px 0;
  font-size: 40px;
}

h2 {
  margin: 32px 0;
  font-size: 36px;
}

h3 {
  margin: 32px 0;
  font-size: 30px;
}

h4 {
  margin: 20px 0;
  font-size: 24px;
}

h5 {
  margin: 18px 0;
  font-size: 20px;
}

h6 {
  margin: 16px 0;
  font-size: 18px;
}

p {
  color: var(--oasis-body-text-color, #64748b);
  margin: 16px 0;
  font-weight: 1.5;
}
p-first-child {
  margin-top: 0;
}
p-last-child {
  margin-bottom: 0;
}

.container {
  width: 100%;
  display: block;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

/*Variables locales*/
.base-layout {
  display: flex;
  flex-direction: column;
}
.base-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  position: fixed;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 1px rgba(10, 10, 10, 0.02);
  border-bottom: 1px solid var(--prefix-header-border-color, #cbd5e1);
  background-color: var(--prefix-header-bg-color, #f1f5f9);
}
.base-content {
  flex: 1;
  position: relative;
  margin-top: 20vh;
}
.base-footer {
  display: flex;
  padding: 32px 16px;
  font-size: 16px;
  font-weight: 400;
  bottom: 0;
  background-color: var(--prefix-header-bg-color, #1e293b);
}
.base-footer p {
  color: var(--prefix-header-border-color, #cbd5e1);
  display: flex;
}
.base-footer ul {
  text-align: right;
  display: flex;
  list-style: none;
  gap: 15px;
  left: 120vh;
  bottom: 0px;
  align-items: center;
  justify-content: right;
  text-decoration: none;
}
.base-footer li a {
  text-decoration: none;
  font-size: 16px;
}

.check {
  display: flex;
  align-items: center;
}

/*PSEDO CLASES*/
:is(h1, h2) {
  display: block;
  text-align: center;
}

:is(.albumStudio h2, .liveStudio h2, .singleAlbum h2, .compilationAlbum h2) {
  text-align: center;
  margin-top: 10vh;
}

:is(.article_videoHystory a) {
  text-decoration: none;
}

:is(.embed-iframe-items1, .embed-iframe-items2, .embed-iframe-items3, .embed-iframe-items4, .embed-iframe-items5) {
  display: relative;
  width: fit-content;
}

/* INDEX.HTML */
.cabecera-info-textos {
  text-align: center;
  gap: 50px;
}

.carousel-inner {
  max-width: 50rem;
  max-height: 50rem;
  background: fixed center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div .article_video {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.embed-iframe-items {
  display: flex;
  overflow-x: scroll;
  gap: 50px;
  width: 950px;
  align-items: center;
  height: 450px;
  margin-left: 2%;
}

.embed-iframe-items::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

.embed-iframe-items::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.805);
  border-radius: 10px;
}

.embed-iframe-items::-webkit-scrollbar-thumb:hover {
  background-color: rgba(169, 169, 169, 0.668);
}

.carousel-inner {
  max-width: 50rem;
  max-height: 50rem;
  background: fixed center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Footer*/
.pic_suscribe {
  position: absolute;
  left: 0px;
  align-items: center;
  padding-top: 0%;
}

.div_suscribe-info-texto {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-outline-dark {
  background-color: #fff;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .carousel-inner {
    margin-left: 3vh;
  }
  .seccion-dos {
    display: block;
  }
  .image-disc {
    height: 30%;
    width: 50%;
  }
  .embed-iframe-items {
    width: 350px;
  }
  .pic_suscribe {
    width: 100%;
    height: 5%;
  }
  .div_suscribe-info-button {
    position: relative;
    width: 70px;
    height: 20px;
    top: 10vh;
    left: 50%;
  }
  footer {
    position: relative;
    width: 100%;
    height: 20vh;
    top: 20vh;
    font-size: 15px;
  }
  footer ul {
    position: relative;
    left: 20vh;
    list-style: none;
    gap: 15px;
    justify-content: right;
    text-decoration: none;
  }
  footer li a {
    text-decoration: none;
    font-size: 15px;
  }
  .materialbox-caption {
    width: 70%;
  }
  /*Discography*/
  .albumStudio {
    display: block !important;
  }
  .albumStudio .row {
    display: block !important;
  }
  .albumStudio .row .card {
    left: 50% !important;
  }
  /*Galery*/
  div.row.galeria {
    display: inline !important;
  }
  .materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
  }
  .galeria .col {
    display: inline-block;
    gap: 100px;
    margin-bottom: 20px;
  }
}
/* */
@media (max-width: 975px) {
  .carousel-inner {
    margin-left: 1vh;
  }
  .check {
    left: 20px;
    align-items: center;
  }
  .seccion-dos {
    display: block;
  }
  .image-disc {
    height: 30%;
    width: 50%;
  }
  .embed-iframe-items {
    width: 350px;
  }
  .pic_suscribe {
    width: 100%;
    height: 5%;
  }
  .div_suscribe-info-button {
    position: relative;
    width: 70px;
    height: 20px;
    top: 10vh;
    left: 50%;
  }
  footer {
    position: relative;
    width: 100%;
    height: 20vh;
    top: 20vh;
    font-size: 15px;
  }
  footer ul {
    position: relative;
    left: 0.2%;
    list-style: none;
    gap: 15px;
    justify-content: right;
    text-decoration: none;
  }
  footer li a {
    text-decoration: none;
    font-size: 15px;
  }
}
/* // X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
  footer ul {
    list-style: none;
    gap: 15px;
    text-decoration: none;
  }
  footer ul li a {
    text-decoration: none;
    font-size: 25px;
  }
  /*INDEX*/
  .carousel-inner {
    margin-left: 30vh;
  }
  .seccion-dos {
    display: flex;
    gap: 30px;
  }
  .image-disc {
    height: 600px;
    width: 600px;
    gap: 30px;
  }
  .embed-iframe-items {
    width: 960px;
  }
  .pic_suscribe {
    width: 100%;
    height: 8%;
  }
  .div_suscribe-info-button {
    position: relative;
    width: 70px;
    height: 20px;
    top: 10vh;
    left: 50%;
  }
  /*Hystory*/
  .video-item {
    position: relative;
    width: 100%;
    top: 0px !important;
  }
  .video-item-element {
    position: absolute;
    width: 100%;
  }
  .logo-video {
    position: absolute;
    left: 30%;
    top: 2%;
    width: 40%;
    height: 7%;
  }
  .text-header {
    position: absolute;
    left: 30%;
    top: 15%;
    width: 40%;
    height: 30%;
  }
  .text-header h1 {
    color: #fff;
    font-family: "Changa One", cursive;
  }
  .seccion-uno-article-intro {
    position: relative;
    top: 120vh;
    font-family: "Roboto Slab", serif;
  }
  .seccion-uno-article-intro a {
    color: #000;
  }
  .one-pic {
    position: relative;
    height: 300px;
    float: right;
    right: 40px;
    width: 300px;
    bottom: 150px;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
  }
  .article_video-hystory {
    width: 70%;
    font-size: 26px;
  }
  .article_video-hystory1 {
    position: relative;
    width: 70%;
    font-size: 26px;
    top: 30vh;
  }
  .two-pic {
    position: relative;
    width: 60%;
    top: 50vh;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
  }
  .second-pic {
    position: relative;
    width: 80%;
    top: 60vh;
    float: right;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
    transform: rotate(3deg);
  }
  .three-pic {
    width: 30%;
    top: 60vh;
    float: left;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
  }
  .article_video-hystory2 {
    display: inline-block;
    position: relative;
    width: 70%;
    font-size: 26px;
    top: 70vh;
    clear: both;
  }
  .article_video-hystory2a {
    display: flex;
    width: 70%;
    margin-left: 60vh;
  }
  .four-pic {
    position: relative;
    top: 30vh;
    float: left;
    height: 60vh;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
  }
  .article_video-hystory3 h3 {
    position: absolute;
    top: 50vh;
    font-size: 50px;
  }
  .article_video-hystory3a {
    position: absolute;
    top: 140vh;
  }
  .five-pic {
    position: relative;
    top: 90vh;
    float: left;
    height: 60vh;
    border-width: 10px 10px 10px;
    border-style: solid solid solid;
  }
  .article_video-hystory4a {
    position: absolute;
    top: 250vh;
  }
  /*DISCOGRAPHY*/
  .albumStudio {
    display: inline-block !important;
    text-align: center !important;
  }
  .albumStudio .row {
    display: flex !important;
  }
  .liveStudio {
    display: inline-block !important;
    text-align: center !important;
  }
  .liveStudio .row {
    display: flex !important;
  }
  .albumStudio .col-sm-6 {
    width: 30rem !important;
    gap: 10px !important;
    margin-top: 10vh !important;
  }
  .liveStudio {
    width: 50rem !important;
    gap: 10px !important;
    margin-top: 10vh !important;
  }
  .singleAlbum .col-sm-6 {
    width: 30rem !important;
    gap: 10px !important;
    margin-top: 10vh !important;
  }
  .compilationAlbum .col-sm-6 {
    width: 30rem !important;
    gap: 10px !important;
    margin-top: 10vh !important;
  }
  /*Galery*/
  .galeria img {
    display: inline-block !important;
    width: 600px !important;
    margin-top: 50px;
    gap: 50px;
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex !important;
  }
  .materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
  }
  .galeria .col {
    display: inline-block !important;
    gap: 150px;
    margin-bottom: 20px;
    width: 600px !important;
  }
  /*CONTACT*/
  .body-contact {
    height: 30vh !important;
  }
  #footer_contact {
    top: 32vh !important;
  }
}

/*# sourceMappingURL=style.css.map */
