/* Importamos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
/* Aplica toda las secciones: index.html- galeria - contacto - historia- discografía*/

/* selector universal */
* {
    margin: 0;
    padding: 0;
    align-items: center;
}

/* Logo */
img {
    height: 50spx;
    width: 128px;
}

/*  NAV */
li {
    display: inline-block;

}

.menu {
    text-align: left;
    font-size: 20px;
}

:is(footer, nav) {
    background-color: rgb(219, 255, 253);
}

.socialmedia {
    text-align: right;
    margin: 0px;
}

/*  Index */
:is(.art_shop, .art_youtube, .art_galery, .btnTienda, .art_galerys) {
    margin: 10px;
    text-align: center;
}

.picindex {
    height: 400px;
    width: 400px;
}

.btndiscografia {
    height: 40px;
    width: 271px;

}


.piedepagina {
    font-size: 10px;
    font-family: 'Nunito Sans', sans-serif
}
.btnShop {
    height: 40px;
    width: 271px;

}

.art_galerys {
    height: 200px;
    width: 450px;
}

.footer_back {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    margin-left: 650px;
}

.pArticle {
    font-size: 30px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif
}