/* Importamos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
/* Aplica toda las secciones: index.html- galeria - contacto - historia- discografía*/

/* selector universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

.container {
    margin: 20px;
    display: inline-block;
}

/*  NAV */
li {
    display: inline-flex;
}

.menu {
    text-align: left;
    font-size: 15px;
}

:is(footer, nav) {
    background-color: rgb(219, 255, 253);
}

.picture-logo {
    height: 80px;
    width: 100px;
}

/* INDEX.HTML */
.socialmedia {
    text-align: right;
    margin: 0px;
}

:is(.picture-col1, .picture-col3) {
    height: 350px;
    width: 350px;
    display: inline-block;
}

/*  multimedia */
:is(.column-2, .column-3, .column-1) {
    height: auto;
    width: auto;
    margin: 10px;
    text-align: center;

}

.btn {
    text-align: center;
    margin: 10px;
}

.section_secondary {
    display: flex;
    margin: 10px;
}

.column {
    background-color: beige;
    height: auto;
    width: auto;

}

:is(.parrafodiscografia, .parrafoyoutube, .parrafotienda) {
    font-size: 10px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif
}

/*Footer*/
.piedepagina {
    font-size: 10px;
    font-family: 'Nunito Sans', sans-serif
}

footer {
    margin: 10px;
}

/* CONTACTO.HTML */

/* HISTORIA.HTML */

/* DISCOGRAFÍA.HTML */

/* GALERIA.HTML */