

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 360px) and (max-width: 576px) {

    /*Discography*/
    html {
        h3 {
            @include letras;
        }

        p {
            @include letras;
        }
    }

    .albumStudio {
        display: block !important;

        .row {
            display: block !important;

            .card {
                left: 20% !important;
            }
        }
    }
}
/* */
@media only screen and (min-width: 768px) and (max-width: 975px) {

}
/* // X-Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1400px) {

    /*DISCOGRAPHY*/
    .albumStudio {
        display: inline-block !important;
        text-align: center !important;

        .col-sm-6 {
            width: 30rem !important;
            gap: 10px !important;
            margin-top: 10vh !important;
        }

        .row {
            display: flex !important;
        }
    }

    .liveStudio {
        display: inline-block !important;
        text-align: center !important;
        width: 50rem !important;
        gap: 10px !important;
        margin-top: 10vh !important;

        .row {
            display: flex !important;
        }
    }


    .singleAlbum .col-sm-6 {
        width: 30rem !important;
        gap: 10px !important;
        margin-top: 10vh !important;
    }

    .compilationAlbum .col-sm-6 {
        width: 30rem !important;
        gap: 10px !important;
        margin-top: 10vh !important;
    }

}