/*Hystory*/
@import "../mixins";

h3 {
    @include letras;
}

p {
    @include letras;
}


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 360px) and (max-width: 576px) {

    /*Hystory*/
    .video-item {
        & .video-item-element {
            position: relative;
            width: 100vw;
            max-height: 150vh;
        }
    }

    .logo-video {
        position: absolute;
        left: 32%;
        top: 90px;
        width: 33%;
        height: 100px;
    }

    .text-header {
        position: absolute;
        left: 25%;
        top: 1.5%;
        width: 40%;
        height: 50px;
        bottom: 0;

        h1 {
            color: #fff;
            font-family: 'Changa One',
                cursive;
        }
    }

    .container {


        & .article_video-hystory {
            height: 576px;
            max-width: fit-content;

            & p {
                &.article_video-hystory_para1 {
                    position: relative;
                    top: 11vh;
                    width: 370px;
                    text-align: right;
                }

                &.article_video-hystory_para2 {
                    position: relative;
                    top: 20vh;
                    max-width: fit-content;
                    display: flex;

                }
            }

            & .one-pic {
                position: relative;
                float: right;
                height: 160px;
                width: 160px;
                bottom: 100px;
                left: 75px;
                border-width: 1px 1px 1px;
            }

        }

        & .two-pic {
            top: 150px;
            height: 400px;
            width: 500px;
            border-width: 5px 5px 5px;
            border-style: solid solid solid;
        }

        & .second-pic {
            position: relative;
            top: 250px;
            height: 400px;
            width: 500px;
            float: right;
            right: 50px;
            border-width: 5px 5px 5px;
            border-style: solid solid solid;
            transform: rotate(3deg);
        }

        & .article_video-hystory2 {
            position: relative;
            top: 250px;
            max-width: fit-content;

            & .article_video-hystory2-para {
                position: absolute;
                left: 150px;
                top: 70vh;
                width: 400px;
            }

            & .three-pic {
                position: relative;
                display: flex;
                float: left;
                top: 15px;
                height: 100px;
                width: 100px;
                border-width: 5px 5px 5px;
                border-style: solid solid solid;
            }

            & h3 {
                position: relative;
                top: 60px;
            }
        }

        & .article_video-hystory3 {
            position: relative;
            top: 30px;
            max-width: fit-content;
            height: 1200px;

            & .article_video-hystory3a {
                max-width: fit-content;

                & p {
                    position: relative;
                    top: 65vh;
                    max-width: 90%;
                }
            }

            & .four-pic {
                position: relative;
                height: 400px;
                width: 500px;
                top: 87vh;
                border-width: 5px 5px 5px;
                border-style: solid solid solid;
            }

            & .article_video-hystory31 {

                position: relative;
                top: 5px;
                width: 576px;
            }

            & .article_video-hystory31-para {

                position: relative;
                top: 850px;
                width: 576;
            }
        }

        & .article_video-hystory4 {
            position: relative;
            top: 300px;
            max-width: fit-content;
            height: 900px;

            & .first_para {
                position: absolute;
                top: 450px;
            }

            & .third_para {
                position: absolute;
                top: 510px;
            }

            & .four_para {
                position: absolute;
                top: 570px;
            }

            & .five-pic {
                position: relative;
                height: 400px;
                top: 60px;
                width: 500px;
                border-width: 5px 5px 5px;
                border-style: solid solid solid;
            }
        }

        & .article_video-history5 {
            position: relative;
            top: 30px;
            max-width: fit-content;

            & .six-pic {
                position: absolute;
                height: 200px;
                width: 200px;
                border-width: 5px 5px 5px;
                border-style: solid solid solid;
            }

            & h3 {
                position: relative;
                top: 10px;
                left: 270px;
                width: 300px;
            }
        }

        &.seven-pic {
            position: absolute;
            top: 600px;
            border-width: 5px 5px 5px;
            border-style: solid solid solid;
        }

        &.eigth-pic {
            position: absolute;
            top: 600px;
            border-width: 5px 5px 5px;
            border-style: solid solid solid;
        }

        & .article_video-hystory6 {
            position: relative;
            top: 300px;
            max-width: fit-content;
                        & .nine-pic {
                                position: relative;
                                height: 400px;
                                width: 500px;
                                top: 87vh;
                                border-width: 5px 5px 5px;
                                border-style: solid solid solid;
                            }
        }


        & .article_video-hystory7 {
            position: relative;
            top: 300px;
        }

        & .article_video-hystory8 {
            position: relative;
            top: 300px;

        }

        & .article_video-hystory9 {
            position: relative;
            top: 300px;
            width: 1100px;
        }

        & .article_video-hystory10 {
            position: relative;
            top: 300px;
            width: 1100px;

        }
    }

}