/*INDEX*/
@import "../mixins";

h3 {
    @include letras;
}

p {
    @include letras;
}
.form-check {
    display: flex;
    align-items: center;
    left: 30px;
}

.cabecera-info-textos {
    text-align: center;
    gap: 50px;
}

.carousel-inner {
    max-width: 50rem;
    max-height: 50rem;
    background: fixed center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div .article_video {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.embed-iframe-items {
    display: flex;
    overflow-x: scroll;
    gap: 50px;
    width: 950px;
    align-items: center;
    height: 450px;
    margin-left: 2%;

    &::-webkit-scrollbar {
        width: 5px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(20, 20, 20, 0.805);
        border-radius: 10px;

        &:hover {
            background-color: rgba(169, 169, 169, 0.668);
        }
    }
}
//Footer
.carousel-inner {
    max-width: 50rem;
    max-height: 50rem;
    background: fixed center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.pic_suscribe {
    position: absolute;
    left: 0px;
    align-items: center;
    padding-top: 0%;
}

.div_suscribe-info-texto {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-outline-dark {
    background-color: #fff;
}


/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 360px) and (max-width: 576px) {
/*INDEX*/
    .carousel-inner {
        margin-left: 3vh;
    }

    .seccion-dos {
        display: block;
    }

    .image-disc {
        height: 30%;
        width: 50%;
    }

    .embed-iframe-items {
        width: 350px;

    }

    .pic_suscribe {
        width: 100%;
        height: 5%;
    }

    .div_suscribe-info-button {
        position: relative;
        width: 70px;
        height: 20px;
        top: 10vh;
        left: 50%;
    }

    div.row {
        display: grid !important;
    }

    footer {
        position: relative;
        width: 100%;
        height: 20vh;
        top: 20vh;
        font-size: 15px;

        ul {
            position: relative;
            left: 20vh;
            list-style: none;
            gap: 15px;
            justify-content: right;
            text-decoration: none;

            li a {
                text-decoration: none;
                font-size: 15px;
            }
        }
    }

}

/* */
@media only screen and (min-width: 768px) and (max-width: 975px) {
    /*INDEX*/
    .carousel-inner {
        margin-left: 1vh;
    }

    .check {
        left: 20px;
        align-items: center;
    }

    .seccion-dos {
        display: block;
    }

    .image-disc {
        height: 30%;
        width: 50%;
    }

    .embed-iframe-items {
        width: 350px;

    }

    .pic_suscribe {
        width: 100%;
        height: 5%;
    }

    .div_suscribe-info-button {
        position: relative;
        width: 70px;
        height: 20px;
        top: 10vh;
        left: 50%;

    }
}

/* // X-Large devices (large desktops, 1200px and up)*/
@media only screen and (min-width: 1400px) {

    /*INDEX*/
    .carousel-inner {
        margin-left: 30vh;
    }

    .seccion-dos {
        display: flex;
        gap: 30px
    }

    .image-disc {
        height: 600px;
        width: 600px;
        gap: 30px
    }

    .embed-iframe-items {
        width: 960px;

    }

    .pic_suscribe {
        width: 100%;
        height: 8%;
    }

    .div_suscribe-info-button {
        position: relative;
        width: 70px;
        height: 20px;
        top: 10vh;
        left: 50%;
    }
}