$header-bg-color: var(--#{prefix}-header-bg-color, $color-slate-100);
[data-theme='dark'] {
    color-scheme: dark;
    --#{$prefix}-body-bg-color: #0f172a;
    --#{$prefix}-body-text-color: #FFFFFF;
    --#{$prefix}-heading-text-color: #FFFFFF;

    #navbar_oasis {
        background-color: #0f172a !important;
        color: #FFFFFF !important;

        .navbar-toggler {
            background-color: #FFFFFF !important;
        }

        & li a {
            color: #FFFFFF !important;
        }

    }

    .embed-iframe-items::-webkit-scrollbar-thumb {
        background-color: #FFFFFF;
        
            border-radius: 10px;
        }
        
        a {
            color: #FFFFFF !important;
        }
        
}