/*Hystory*/ /*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
h3 {
  /* // Small devices (landscape phones, 576px and up) */
  /* */
  /* // X-Large devices (large desktops, 1200px and up)*/
}
@media only screen and (min-width: 360px) and (max-width: 576px) {
  h3 p {
    font-size: 0.85rem !important;
  }
  h3 h3 {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 975px) {
  h3 p {
    font-size: 0.85rem !important;
  }
  h3 h3 {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 1400px) {
  h3 p {
    font-size: 1.125rem !important;
  }
  h3 h3 {
    font-size: 1.875rem !important;
  }
}

p {
  /* // Small devices (landscape phones, 576px and up) */
  /* */
  /* // X-Large devices (large desktops, 1200px and up)*/
}
@media only screen and (min-width: 360px) and (max-width: 576px) {
  p p {
    font-size: 0.85rem !important;
  }
  p h3 {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 975px) {
  p p {
    font-size: 0.85rem !important;
  }
  p h3 {
    font-size: 1.25rem !important;
  }
}
@media only screen and (min-width: 1400px) {
  p p {
    font-size: 1.125rem !important;
  }
  p h3 {
    font-size: 1.875rem !important;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 360px) and (max-width: 576px) {
  /*Hystory*/
  .video-item .video-item-element {
    position: relative;
    width: 100vw;
    max-height: 150vh;
  }
  .logo-video {
    position: absolute;
    left: 32%;
    top: 90px;
    width: 33%;
    height: 100px;
  }
  .text-header {
    position: absolute;
    left: 25%;
    top: 1.5%;
    width: 40%;
    height: 50px;
    bottom: 0;
  }
  .text-header h1 {
    color: #fff;
    font-family: "Changa One", cursive;
  }
  .container .article_video-hystory {
    height: 576px;
    max-width: fit-content;
  }
  .container .article_video-hystory p.article_video-hystory_para1 {
    position: relative;
    top: 11vh;
    width: 370px;
    text-align: right;
  }
  .container .article_video-hystory p.article_video-hystory_para2 {
    position: relative;
    top: 20vh;
    max-width: fit-content;
    display: flex;
  }
  .container .article_video-hystory .one-pic {
    position: relative;
    float: right;
    height: 160px;
    width: 160px;
    bottom: 100px;
    left: 75px;
    border-width: 1px 1px 1px;
  }
  .container .two-pic {
    top: 150px;
    height: 400px;
    width: 500px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .second-pic {
    position: relative;
    top: 250px;
    height: 400px;
    width: 500px;
    float: right;
    right: 50px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
    transform: rotate(3deg);
  }
  .container .article_video-hystory2 {
    position: relative;
    top: 250px;
    max-width: fit-content;
  }
  .container .article_video-hystory2 .article_video-hystory2-para {
    position: absolute;
    left: 150px;
    top: 70vh;
    width: 400px;
  }
  .container .article_video-hystory2 .three-pic {
    position: relative;
    display: flex;
    float: left;
    top: 15px;
    height: 100px;
    width: 100px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-hystory2 h3 {
    position: relative;
    top: 60px;
  }
  .container .article_video-hystory3 {
    position: relative;
    top: 30px;
    max-width: fit-content;
    height: 1200px;
  }
  .container .article_video-hystory3 .article_video-hystory3a {
    max-width: fit-content;
  }
  .container .article_video-hystory3 .article_video-hystory3a p {
    position: relative;
    top: 65vh;
    max-width: 90%;
  }
  .container .article_video-hystory3 .four-pic {
    position: relative;
    height: 400px;
    width: 500px;
    top: 87vh;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-hystory3 .article_video-hystory31 {
    position: relative;
    top: 5px;
    width: 576px;
  }
  .container .article_video-hystory3 .article_video-hystory31-para {
    position: relative;
    top: 850px;
    width: 576;
  }
  .container .article_video-hystory4 {
    position: relative;
    top: 300px;
    max-width: fit-content;
    height: 900px;
  }
  .container .article_video-hystory4 .first_para {
    position: absolute;
    top: 450px;
  }
  .container .article_video-hystory4 .third_para {
    position: absolute;
    top: 510px;
  }
  .container .article_video-hystory4 .four_para {
    position: absolute;
    top: 570px;
  }
  .container .article_video-hystory4 .five-pic {
    position: relative;
    height: 400px;
    top: 60px;
    width: 500px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-history5 {
    position: relative;
    top: 30px;
    max-width: fit-content;
  }
  .container .article_video-history5 .six-pic {
    position: absolute;
    height: 200px;
    width: 200px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-history5 h3 {
    position: relative;
    top: 10px;
    left: 270px;
    width: 300px;
  }
  .container.seven-pic {
    position: absolute;
    top: 600px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container.eigth-pic {
    position: absolute;
    top: 600px;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-hystory6 {
    position: relative;
    top: 300px;
    max-width: fit-content;
  }
  .container .article_video-hystory6 .nine-pic {
    position: relative;
    height: 400px;
    width: 500px;
    top: 87vh;
    border-width: 5px 5px 5px;
    border-style: solid solid solid;
  }
  .container .article_video-hystory7 {
    position: relative;
    top: 300px;
  }
  .container .article_video-hystory8 {
    position: relative;
    top: 300px;
  }
  .container .article_video-hystory9 {
    position: relative;
    top: 300px;
    width: 1100px;
  }
  .container .article_video-hystory10 {
    position: relative;
    top: 300px;
    width: 1100px;
  }
}

/*# sourceMappingURL=history.css.map */
